.quiz {
    border-radius: 2px;
    margin-bottom: $s-size;
    padding: $s-size;
    height: 22rem;
    background: $darkGray;   
}

.quiz p {
    color: white;
}

.hint {
    color: green;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 3rem;
    outline: none;
    border: $darkGray solid 2px;
}

